@font-face {
    font-family: BrunoAceSc;
    src: url(/fonts/brunoace-sc-regular.ttf);
}

@font-face {
    font-family: ProtestGuerilla;
    src: url(/fonts/protest-guerrilla-regular.ttf);
}

@font-face {
    font-family: Orbitron;
    src: url(/fonts/orbitron-variablefont.ttf);
}